# Excluir archivos y carpetas generados automáticamente
__pycache__/
*.pyc
*.pyo
*.pyd

# Excluir entornos virtuales
venv/
.env/

# Excluir datos sensibles
*.env
secrets.json


# Excluir configuraciones de IDEs
.vscode/
.idea/

# Excluir archivos del sistema operativo
.DS_Store
Thumbs.db

# Excluir logs y archivos temporales
*.log
*.tmp
*.bak
*.swp
*.swo

# Excluir carpetas específicas a bibliotecas o frameworks
.ipynb_checkpoints/

# Excluir cualquier cosa relacionada con tests generados automáticamente
tests/__pycache__/

# Ignorar archivos del sistema
.DS_Store

# Ignorar carpetas generadas automáticamente
__pycache__/
*.pyc
venv/
